services:
  suno-player:
    build: https://github.com/imcmurray/SunoPlaylistPlayer.git
    container_name: suno-playlist-player
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
    shm_size: '2gb'
    deploy:
      resources:
        limits:
          memory: 2G
        reservations:
          memory: 1G
